// .title {
//     display: flex;
//     flex-direction: row;
// }

.span {
    text-transform: uppercase;
    letter-spacing: .25em;
    font-weight:500;
}
.line {
    border: 1px solid black;
    max-width: 70vw;
    display: block;
    
}